<nz-layout class="app-layout" *ngIf="!isLogin">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="">
        <img src="https://img.alicdn.com/tfs/TB1g.mWZAL0gK0jSZFtXXXQCXXa-200-200.svg" alt="logo">
        <h1>Quản Lý Thư Viện</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Quản Lý" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/nhanviens">Nhân Viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/docgias">Độc Giả</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sachs">Sách</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div>

          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          </span>
        </div>
        <div class="avatar">
          <p class="h3">{{tenNhanVien}}</p>
          <nz-avatar nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzIcon="user" style="background-color:#1890ff;"></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="logOut()">Log out</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet *ngIf="!isLogin"></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<div *ngIf="isLogin" id="parentLogin">
  <app-login id="login"></app-login>
</div>
