<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 autoReload="true"
 internalLogLevel="Trace"
internalLogFile="C:\Users\PhạmQuangTrung\Desktop\New folder\21HCB_NMCNPM_DO-AN_QuanLyThuVien_NHOM22\QuanLyThuVien\QuanLyThuVien\internal_logs\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"

	   fileName="C:\Users\PhạmQuangTrung\Desktop\New folder\21HCB_NMCNPM_DO-AN_QuanLyThuVien_NHOM22\QuanLyThuVien\QuanLyThuVien\logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
