.save {
    margin-right: 8px;
}
nz-select {
    width: 120px;
}
.btnDel{
    margin-left: 5px;
    color: red;
}
.btnAdd{
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}
.ant-btn:hover, .ant-btn:focus {
    color: #52c41a;
    border-color: #52c41a;
}
[nz-form] {
    max-width: 600px;
}
.datePickerForm{
    width: 100%;
}
nz-pagination{
    margin: 1rem 1rem 0 0;
}
.paging{
    display: flex;
    justify-content: space-between;
    h3{
        margin-top: 19px;
    }
}
.search{
    display: flex;
    .searchInput{
        width: 250px;
    }
    button{
        margin-left: 0.5rem;
    }
}