<div>
  <div class="btnAdd">
    <div class="search">
      <div class="searchInput">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="search" placeholder="Tìm kiếm theo tên" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="search"
            (click)="searchNv(false)"></i>
        </ng-template>
      </div>
      <button (click)="searchNv(true)" nz-button nzType="primary" nzShape="circle"><i nz-icon
          nzType="search"></i></button>
    </div>
    <button nz-button (click)="showModal()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Thêm
    </button>
  </div>
  <nz-table #editRowTable nzBordered [nzShowPagination]="false" [nzData]="listDocGia" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Họ và tên</th>
        <th>Loại độc giả</th>
        <th>Ngày sinh</th>
        <th>Địa chỉ</th>
        <th>Email</th>
        <th>Ngày lập thẻ</th>
        <th>Người lập</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.hoTen }}</td>
          <td>{{ data.loai }}</td>
          <td>{{ data.ngaySinh | date:'dd/MM/yyyy'}}</td>
          <td>{{ data.diaChi }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.ngayLap | date:'dd/MM/yyyy'}}</td>
          <td>{{ data.tenNhanVienLap }}</td>
          <td>
            <a (click)="startEdit(data.id)">Sửa</a>
            <a *ngIf="currentUser?.nhanVienId != data.id" class="btnDel" nz-popconfirm
              nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="deleteDocGia(data.id)">Xóa</a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.hoTen" /></td>
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại" [(ngModel)]="editCache[data.id].data.loai">
              <nz-option *ngFor="let b of arrLoai" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </td>
          <td>
            <nz-date-picker [(ngModel)]="editCache[data.id].data.ngaySinh"></nz-date-picker>
          </td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.diaChi" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
          <td>
            <nz-date-picker [(ngModel)]="editCache[data.id].data.ngayLap"></nz-date-picker>
          </td>
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân viên"
              [(ngModel)]="editCache[data.id].data.nhanVienId">
              <nz-option *ngFor="let item of filteredNhanVien" [nzValue]="item.id" [nzLabel]="item.hoTen"></nz-option>
            </nz-select>
          </td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Lưu</a>
            <a nz-popconfirm nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="cancelEdit(data.id)">Hủy</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <div class="paging">
    <h3>Tổng: {{totalDG || 0 | number}}</h3>
    <nz-pagination (nzPageIndexChange)="getByPaging($event)" [nzPageIndex]="pageNum" [nzTotal]="totalDG"
      [nzPageSize]="pageSize"></nz-pagination>
  </div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm mới độc giả" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <div *nzModalContent>
    <form nz-form [formGroup]="createForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Họ và tên</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập họ tên">
          <input nz-input formControlName="hoTen" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Loại độc giả</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập loại độc giả">
          <nz-select formControlName="loai" nzAllowClear nzPlaceHolder="Chọn loại độc giả" name="required" required>
            <nz-option *ngFor="let b of arrLoai" [nzValue]="b" [nzLabel]="b"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ngày sinh</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày sinh">
          <nz-date-picker class="datePickerForm" formControlName="ngaySinh" name="required" required></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Địa chỉ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập địa chỉ">
          <input nz-input formControlName="diaChi" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Email</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập email">
          <input nz-input formControlName="email" name="required" required />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Ngày lập thẻ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày lập thẻ">
          <nz-date-picker class="datePickerForm" formControlName="ngayLap" name="required" required></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Người lập</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập người lập">
          <nz-select formControlName="nhanVienId" nzAllowClear nzPlaceHolder="Chọn nhân viên" name="required" required>
            <nz-option *ngFor="let item of filteredNhanVien" [nzValue]="item.id" [nzLabel]="item.hoTen"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tổng nợ</nz-form-label>
        <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Tổng nợ">
          <nz-input-number style="width: 100%;" formControlName="tongNo" name="required" required [nzMin]="1"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>