/* You can add global styles to this file, and also import other style files */
.login-form {
  max-width: 300px;
  max-height: auto;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.h1{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
