<div>
  <div class="btnAdd">
    <div class="search">
      <div class="searchInput">
        <nz-input-group [nzSuffix]="inputClearTpl">
          <input type="text" nz-input [(ngModel)]="search" placeholder="Tìm kiếm theo tên" />
        </nz-input-group>
        <ng-template #inputClearTpl>
          <i
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="search"
            (click)="searchNv(false)"
          ></i>
        </ng-template>
      </div>
      <button (click)="searchNv(true)" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
    </div>
    <button nz-button (click)="showModal()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      Thêm
    </button>
  </div>
  <nz-table #editRowTable nzBordered [nzShowPagination]="false" [nzData]="listNhanVien" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Tên</th>
        <th>Địa chỉ</th>
        <th>Ngày sinh</th>
        <th>Sđt</th>
        <th>Bằng cấp</th>
        <th>Bộ phận</th>
        <th>Chức vụ</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
          <td>{{ data.hoTen }}</td>
          <td>{{ data.diaChi }}</td>
          <td>{{ data.ngaySinh | date:'longDate'}}</td>
          <td>{{ data.sdt }}</td>
          <td>{{ data.bangCap }}</td>
          <td>{{ data.boPhan }}</td>
          <td>{{ data.chucVu }}</td>
          <td>
            <a (click)="startEdit(data.id)">Sửa</a> 
            <a *ngIf="currentUser?.nhanVienId != data.id" class="btnDel" nz-popconfirm nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="deleteNhanVien(data.id)">Xóa</a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.hoTen" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.diaChi" /></td>
          <td>
            <nz-date-picker [(ngModel)]="editCache[data.id].data.ngaySinh"></nz-date-picker>
          </td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.sdt" /></td>
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn bằng cấp" [(ngModel)]="editCache[data.id].data.bangCap">
              <nz-option *ngFor="let b of arrBangCap" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </td>
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn bộ phận" [(ngModel)]="editCache[data.id].data.boPhan">
              <nz-option *ngFor="let b of arrBoPhan" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </td>
          <td>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn chức vụ" [(ngModel)]="editCache[data.id].data.chucVu">
              <nz-option *ngFor="let b of arrChucVu" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Lưu</a>
            <a nz-popconfirm nzPopconfirmTitle="Bạn chắc chưa?" (nzOnConfirm)="cancelEdit(data.id)">Hủy</a>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <div class="paging">
    <h3>Tổng: {{totalNv}}</h3>
    <nz-pagination (nzPageIndexChange)="getByPaging($event)" [nzPageIndex]="pageNum" [nzTotal]="totalNv" [nzPageSize]="pageSize"></nz-pagination>
  </div>
</div>
<nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Thêm mới nhân viên"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
    <div *nzModalContent>
      <form nz-form [formGroup]="createForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Họ tên</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập họ tên">
            <input nz-input formControlName="hoTen" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Địa chỉ</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập địa chỉ">
            <input nz-input formControlName="diaChi" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Ngày sinh</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập ngày sinh">
            <nz-date-picker class="datePickerForm" formControlName="ngaySinh" name="required" required ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Sđt</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập số điện thoại">
            <input nz-input formControlName="sdt" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Bằng cấp</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập bằng cấp">
            <nz-select formControlName="bangCap"  nzAllowClear nzPlaceHolder="Chọn bằng cấp" name="required" required>
              <nz-option *ngFor="let b of arrBangCap" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Bộ phận</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập bộ phận">
            <nz-select formControlName="boPhan"  nzAllowClear nzPlaceHolder="Chọn bộ phận" name="required" required>
              <nz-option *ngFor="let b of arrBoPhan" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Chức vụ</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="16" nzErrorTip="Nhập chức vụ">
            <nz-select formControlName="chucVu"  nzAllowClear nzPlaceHolder="Chọn chức vụ" name="required" required>
              <nz-option *ngFor="let b of arrChucVu" [nzValue]="b" [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
</nz-modal>